In [2]:
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
%matplotlib inline
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import pickle
from itertools import product
from collections import defaultdict
from sqlalchemy import create_engine
from sklearn.feature_selection import RFE, chi2
from sklearn.model_selection import train_test_split, KFold, GridSearchCV
from sklearn.metrics import confusion_matrix, roc_curve, roc_auc_score, precision_score, recall_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

import sys
sys.path.append("../model")
from model import get_data, CancellationModel
from pipeline import Pipeline
import constants as C

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
engine = create_engine(C.ENGINE)
df = get_data(engine, booked=True)

In [4]:
with open('../model/model.pkl', 'rb') as f:
    model = pickle.load(f)

In [5]:
df, X = model.pipeline.transform(df)

In [ ]:
df["insurance"] = df[["insurance_corporate", "insurance_personal", "insurance_silvercar"]].idxmax(axis=1)
    df["insurance"] = df["insurance"].map({"insurance_personal": "Personal", "insurance_corporate": "Corporate",
                                                   "insurance_silvercar": "Silvercar", None: "NA"})

In [15]:
df[["insurance_corporate", "insurance_personal", "insurance_silvercar"]].idxmax(axis=1)

0        insurance_corporate
1        insurance_corporate
2        insurance_corporate
3        insurance_corporate
4        insurance_corporate
5        insurance_corporate
6        insurance_corporate
7        insurance_corporate
8        insurance_corporate
9        insurance_corporate
10       insurance_corporate
11       insurance_corporate
12       insurance_corporate
13       insurance_corporate
14       insurance_corporate
15       insurance_corporate
16       insurance_corporate
17        insurance_personal
18       insurance_corporate
19       insurance_corporate
20        insurance_personal
21       insurance_corporate
22       insurance_corporate
23       insurance_corporate
24       insurance_corporate
25       insurance_corporate
26       insurance_corporate
27        insurance_personal
28       insurance_corporate
29        insurance_personal
                ...
19687    insurance_corporate
19688     insurance_personal
19689    insurance_corporate
19690     insurance_personal
19691    insurance_corporate
19692    insurance_corporate
19693    insurance_corporate
19694     insurance_personal
19695    insurance_silvercar
19696    insurance_corporate
19697     insurance_personal
19698    insurance_corporate
19699     insurance_personal
19700    insurance_corporate
19701     insurance_personal
19702     insurance_personal
19703     insurance_personal
19704    insurance_corporate
19705    insurance_corporate
19706     insurance_personal
19707    insurance_corporate
19708    insurance_corporate
19709    insurance_corporate
19710     insurance_personal
19711    insurance_corporate
19712     insurance_personal
19713     insurance_personal
19714    insurance_corporate
19715    insurance_corporate
19716     insurance_personal
Length: 19717, dtype: object

In [14]:
df[["insurance_corporate", "insurance_personal", "insurance_silvercar"]]

       insurance_corporate  insurance_personal  insurance_silvercar
0                      0.0                 0.0                  0.0
1                      0.0                 0.0                  0.0
2                      0.0                 0.0                  0.0
3                      0.0                 0.0                  0.0
4                      0.0                 0.0                  0.0
5                      0.0                 0.0                  0.0
6                      0.0                 0.0                  0.0
7                      0.0                 0.0                  0.0
8                      0.0                 0.0                  0.0
9                      0.0                 0.0                  0.0
10                     0.0                 0.0                  0.0
11                     0.0                 0.0                  0.0
12                     0.0                 0.0                  0.0
13                     0.0                 0.0                  0.0
14                     0.0                 0.0                  0.0
15                     0.0                 0.0                  0.0
16                     0.0                 0.0                  0.0
17                     0.0                 1.0                  0.0
18                     0.0                 0.0                  0.0
19                     0.0                 0.0                  0.0
20                     0.0                 1.0                  0.0
21                     0.0                 0.0                  0.0
22                     0.0                 0.0                  0.0
23                     0.0                 0.0                  0.0
24                     0.0                 0.0                  0.0
25                     0.0                 0.0                  0.0
26                     0.0                 0.0                  0.0
27                     0.0                 1.0                  0.0
28                     0.0                 0.0                  0.0
29                     0.0                 1.0                  0.0
...                    ...                 ...                  ...
19687                  0.0                 0.0                  0.0
19688                  0.0                 1.0                  0.0
19689                  1.0                 0.0                  0.0
19690                  0.0                 1.0                  0.0
19691                  0.0                 0.0                  0.0
19692                  0.0                 0.0                  0.0
19693                  0.0                 0.0                  0.0
19694                  0.0                 1.0                  0.0
19695                  0.0                 0.0                  1.0
19696                  0.0                 0.0                  0.0
19697                  0.0                 1.0                  0.0
19698                  0.0                 0.0                  0.0
19699                  0.0                 1.0                  0.0
19700                  0.0                 0.0                  0.0
19701                  0.0                 1.0                  0.0
19702                  0.0                 1.0                  0.0
19703                  0.0                 1.0                  0.0
19704                  1.0                 0.0                  0.0
19705                  0.0                 0.0                  0.0
19706                  0.0                 1.0                  0.0
19707                  0.0                 0.0                  0.0
19708                  0.0                 0.0                  0.0
19709                  0.0                 0.0                  0.0
19710                  0.0                 1.0                  0.0
19711                  0.0                 0.0                  0.0
19712                  0.0                 1.0                  0.0
19713                  0.0                 1.0                  0.0
19714                  0.0                 0.0                  0.0
19715                  0.0                 0.0                  0.0
19716                  0.0                 1.0                  0.0

[19717 rows x 3 columns]

In [13]:
df[["insurance_corporate", "insurance_personal", "insurance_silvercar"]].idxmax(axis=1)

0        insurance_corporate
1        insurance_corporate
2        insurance_corporate
3        insurance_corporate
4        insurance_corporate
5        insurance_corporate
6        insurance_corporate
7        insurance_corporate
8        insurance_corporate
9        insurance_corporate
10       insurance_corporate
11       insurance_corporate
12       insurance_corporate
13       insurance_corporate
14       insurance_corporate
15       insurance_corporate
16       insurance_corporate
17        insurance_personal
18       insurance_corporate
19       insurance_corporate
20        insurance_personal
21       insurance_corporate
22       insurance_corporate
23       insurance_corporate
24       insurance_corporate
25       insurance_corporate
26       insurance_corporate
27        insurance_personal
28       insurance_corporate
29        insurance_personal
                ...
19687    insurance_corporate
19688     insurance_personal
19689    insurance_corporate
19690     insurance_personal
19691    insurance_corporate
19692    insurance_corporate
19693    insurance_corporate
19694     insurance_personal
19695    insurance_silvercar
19696    insurance_corporate
19697     insurance_personal
19698    insurance_corporate
19699     insurance_personal
19700    insurance_corporate
19701     insurance_personal
19702     insurance_personal
19703     insurance_personal
19704    insurance_corporate
19705    insurance_corporate
19706     insurance_personal
19707    insurance_corporate
19708    insurance_corporate
19709    insurance_corporate
19710     insurance_personal
19711    insurance_corporate
19712     insurance_personal
19713     insurance_personal
19714    insurance_corporate
19715    insurance_corporate
19716     insurance_personal
Length: 19717, dtype: object